span {
  margin-left: 20px;
}

.spacer {
  flex: 1 1 auto;
}

h2 {
  margin: auto 20px;
}

button {
  margin: auto 5px;
}

.btn-sem {
  color: #578067;
}

.btn-cor {
  color: #ffffff;
  background-color: #578067 !important;
}
